.root {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: center; /* aligns on vertical for column */
    align-items: center; /* aligns on horizontal for column */
}

.container {
    background-color: white;
    padding: 30px;
    width: 500px;
}

.cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: none;
    opacity: 0.3;
    background: #000;
  }